
@{
    ViewBag.Title = "Product";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/product.css">

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Categories</h3>
            <strong>BS</strong>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-home"></i>
                    Book
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Publisher</a>
                    </li>
                    <li>
                        <a href="#">Novels</a>
                    </li>
                    <li>
                        <a href="#">Magazines</a>
                    </li>
                    <li>
                        <a href="#">Textbooks</a>
                    </li>
                    <li>
                        <a href="#">Notebooks</a>
                    </li>
                    <li>
                        <a href="#">Essaybooks</a>
                    </li>
                    <li>
                        <a href="#">General Knowledges</a>
                    </li>
                    <li>
                        <a href="#">Vocabulary</a>
                    </li>
                    <li>
                        <a href="#">Learning</a>
                    </li>
                    <li>
                        <a href="#">Other</a>
                    </li>

                </ul>

            </li>

            <li>
                <a href="#pageSubmenu_file" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    File
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu_file">
                    <li>
                        <a href="#">World</a>
                    </li>
                    <li>
                        <a href="#">Eecel</a>
                    </li>
                    <li>
                        <a href="#">Pdf</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu_cd" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    CDs
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu_cd">
                    <li>
                        <a href="#">Readable</a>
                    </li>
                    <li>
                        <a href="#">Writable</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu_dvd" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    DVDs
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu_dvd">
                    <li>
                        <a href="#">Readable</a>
                    </li>
                    <li>
                        <a href="#">Writable</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu_ut" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Utilities
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu_ut">
                    <li>
                        <a href="#">Cover</a>
                    </li>
                    <li>
                        <a href="#">Pen</a>
                    </li>
                    <li>
                        <a href="#">Pencil</a>
                    </li>
                    <li>
                        <a href="#">Paper</a>
                    </li>
                    <li>
                        <a href="#">Sketches</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-question"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-paper-plane"></i>
                    Contact
                </a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <li>
                <a href="" class="download">Download file</a>
            </li>
            <li>
                <a href="" class="article">Back to article</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <style>
            .product {
                height: 200px;
                width: 200px;
                margin: 5px;
                border: solid 1px lightgray;
                border-radius: 10px;
                //background-color: gainsboro;
                
            }
            .product:hover {
                box-shadow: 5px 5px 5px #666;
                background: khaki;
            }
            
        </style>
        <h2>List of product</h2>
        <div class="row center-block">
            @for (int i = 0; i < 25; i++)
            {
                <div class="col-md-3 product">product detail</div>
            }
        </div>


        <div class="line"></div>

    </div>
</div>

<!-- jQuery CDN -->
<script src="~/Vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>

